<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Components</title>
  </head>
  <body>
    <header>
      <h3 class="top-subheading">COMPONENT</h3>
      <h1 class="heading">Library</h1>
    </header>
    <!-- <div class="image-container">
        <img class="image" src="https://i.ibb.co/TrwZjtZ/bro.png" alt="" />
      </div> -->

    <nav class="nav-bar">
      <div class="logo-container">
        <img src="../logo.svg" alt="" class="logo" />
        <div class="toogle-menu">
          <i id="menu-icon" class="fas fa-bars"></i>
        </div>
      </div>

      <ul class="nav-list active-toggle">
        <a class="nav-link active-nav" href="">
          <li class="nav-items">Triangle Quiz</li>
        </a>
        <a class="nav-link" href="">
          <li class="nav-items">Is Valid Triangle?</li>
        </a>
        <a class="nav-link" href="">
          <li class="nav-items">Find Hypotenuse</li>
        </a>
        <a class="nav-link" href="">
          <li class="nav-items">Calculate Area</li>
        </a>
      </ul>
    </nav>
    <div class="container">
      <!-- hero-section -->
      <div class="hero-section">
        <h1 class="hero-heading">Heading goes here</h1>
        <p class="hero-subheading">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi
          commodi, minus molestiae earum rerum voluptatem non ea impedit.
        </p>
        <button class="btn btn-lg">Learn more</button>
      </div>
      <!-- feature-section-image-on-right -->
      <div class="features-section-image-right">
        <div class="content-container">
          <h3 class="features-heading">Trinagle Quiz</h3>
          <p class="features-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem
            culpa debitis perspiciatis eligendi molestiae accusantium, iusto
            illum neque delectus ratione!
          </p>
          <button class="btn btn-md">Action button</button>
        </div>
        <div class="image-container">
          <img class="image" src="https://i.ibb.co/TrwZjtZ/bro.png" alt="" />
        </div>
      </div>
      <div class="features-section-image-left">
        <div class="image-container">
          <img class="image" src="https://i.ibb.co/TrwZjtZ/bro.png" alt="" />
        </div>
        <div class="content-container">
          <h3 class="features-heading">Heading goes here</h3>
          <p class="features-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem
            culpa debitis perspiciatis eligendi molestiae accusantium, iusto
            illum neque delectus ratione!
          </p>
          <button class="btn btn-md">Action button</button>
        </div>
      </div>

      <!-- input element -->
      <div class="input-element">
        <h5 class="input-label">Input Label</h5>
        <input
          class="input"
          id="bill-amount"
          type="number"
          placeholder="Enter here..."
        />
      </div>
      <!-- buttons -->
      <button class="btn btn-lg">Button Large</button>
      <button class="btn btn-md">Button Medium</button>
      <button class="btn btn-sm">Button Small</button>
    </div>
    <!-- question-component -->
    <form>
      <div class="question-component">
        <h3 class="question">
          1. What is the total sum of the angles in a triangle ?
        </h3>
        <div class="options-container">
          <div class="options">
            <label class="option-text">
              <input name="question1" class="radio-button" type="radio" />
              270 degree</label
            >
            <label class="option-text">
              <input name="question1" class="radio-button" type="radio" />
              270 degree</label
            >
            <label class="option-text">
              <input name="question1" class="radio-button" type="radio" />
              270 degree</label
            >
          </div>
        </div>
      </div>
    </form>
    <footer class="footer">
      <h4 class="footer-heading">2021 | Mobashir Farhan</h4>
      <div class="social-icons">
        <a class="footer-link" href="">
          <i class="icon fab fa-twitter"></i>
        </a>
        <a class="footer-link" href="">
          <i class="icon fab fa-github"></i>
        </a>
        <a class="footer-link" href="">
          <i class="icon fab fa-linkedin"></i>
        </a>
      </div>
    </footer>
    <script src="../app.js"></script>
  </body>
</html>
